---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome">
    <main class="container">
        <h1>Welcome to Divinex Agency (Styling Reworked)</h1>
        <p>We're setting up your design now. If you see this, basic styling is active!</p>
    </main>
</Layout>